body {
  font-family: helvetica, arial, freesans, clean, sans-serif;
  font-size: .9em 
  line-height: 180%
}

a {
  color: #4183C4
}

#wrapper {
  width: 900px;
  margin: 20px auto
}

#site {
  width: 700px;
  float: left;
}

#right {
  width: 160px;
  float: right;
}
