<!DOCTYPE html>
<html>
  <head>
    <title>Coding Frontier - {{ page.title }}</title>
    <link href="/css/global.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div id='site'>
      <h1>{{ page.title }}</h1>

      <div id='right'>
        <img src='http://www.gravatar.com/avatar/98292675163b09c369e097cbeef92a10.png' alt='Profile Image'/>
        <p>Paul Elliott</p>
        <p>I'm a Rocket Surgeon at Hashrocket in Jacksonville Beach, FL</p>
        <p><a href="http://twitter.com/p_elliott">Twitter</a></p>
        <p><a href="http://github.com/paulelliott">Github</a></p>
        <p><a href="http://codingfrontier.posterous.com">My Old Blog</a></p>
      </div>
      <div id='left'>{{ content }}</div>
    </div>
  </body>
</html>
